[submodule ".registry"]
	path = .registry
	url = https://github.com/johngavin/johngavin.r-universe.dev
	branch = HEAD
[submodule "coMMpass"]
	path = coMMpass
	url = https://github.com/JohnGavin/coMMpass-analysis
[submodule "etfdata"]
	path = etfdata
	url = https://github.com/JohnGavin/etf-data
	subdir = etfdata
[submodule "irishbuoys"]
	path = irishbuoys
	url = https://github.com/JohnGavin/irishbuoys
[submodule "millsratio"]
	path = millsratio
	url = https://github.com/JohnGavin/millsratio
[submodule "randomwalk"]
	path = randomwalk
	url = https://github.com/JohnGavin/randomwalk
